account_id = "{YOUR_CLOUDFLARE_WORKERS_ACCOUNT_ID}"
zone_id = "{YOUR_CLOUDFLARE_WORKERS_ZONE_ID}"
name = "your-script-name"
type = "javascript"
workers_dev = false
routes = [
  "example.com/counter/*",
  "example.com/counter"
]

[durable_objects]
bindings = [
  { name = "Counter", class_name = "Counter" }
]

[build]
upload_format = "modules"
command = "npm install && npm run build"
cwd = "."
watch_dir = "src"
upload_dir = "dist"
upload_include = []
upload_exclude = ["*.map"]
